---
---

@import "{{ site.theme }}";

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans-Regular.ttf");
}
@font-face {
  font-family: "Fira Code";
  src: url("../fonts/FiraCode-VariableFont_wght.ttf");
}

.main-content {
  font-family: "Fira Sans";
}

p, li {
  font-family: "Fira Sans";
}
