---
---

@import "{{ site.theme }}";

@font-face {
  font-family: "Fira Sans";
  src: url("FiraSans-Regular.ttf");
}
@font-face {
  font-family: "Fira Code";
  src: url("FiraCode-VariableFont_wght.ttf");
}

h1, h2, h3, h4 {
  font-family: "Fira Code";
}
