<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ " /assets/css/style.css" | relative_url }}">
</head>

<body>
    <header>
        <a class="site-title" rel="author" href="{{ " /" | relative_url }}">{{ site.title | escape }}</a>
        <nav>
            {% for item in site.data.navigation %}
            <a href="{{ item.link }}" {% if page.url==item.link %}class="current" {% endif %}>{{ item.name }}</a>
            {% endfor %}
        </nav>
    </header>

    <main>
        {{ content }}
    </main>

    <footer>
        <div class="footer-col">
            {% if site.author -%}
            <p>{{ site.author | escape }}</p>
            {% endif -%}

            {% if site.email -%}
            <p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
            {%- endif %}
        </div>
        <div class="footer-col">
            <p>{{ site.description | escape }}</p>
        </div>
    </footer>
</body>

</html>